.head{
	width: 10.8rem;
	height: 1.4rem;
	background:#fff;
	border-top: 0.03rem solid #ccc;
	border-bottom: 0.01rem solid #ccc;
}
.head1{
	display: block;
	float: left;
	width: 1.4rem;
	height: 1.4rem;
	text-align: center;
}
.head1 span{
	font-family: 'iconfont';
	font-size: 0.9rem;
}
.head2{
	display: block;
	float: left;
	margin-left: 2.5rem;
	width: 3rem;
	height: 1.3rem;
}
.head3{
	display: block;
	float: right;
	width: 1.4rem;
	height: 1.4rem;
	text-align: center;
	line-height: 1.4rem;
}
.head3 span{
	font-family: 'iconfont';
	font-size: 0.8rem;
}
.banner{
	width: 10.8rem;
	height: 7.13rem;
	position: relative;
}
.banner img{
	position: absolute;
}
.tit{
	border-bottom: 0.3rem solid #f1f1f1;
	border-top: 0.3rem solid #f1f1f1;
	width: 100%;
	height: 8.55rem;
}
.tit1{
	width: 8.79rem;
	height:6.19rem;
	margin: 0.99rem 1.03rem 0.76rem 0.99rem;
	margin-top: 0.99rem;
	margin-left: 0.73rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.tit1_up{
	width: 1.48rem;
	height: 6.19rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	flex-direction: column;
}
.tit2{
	width: 1.48rem;
	height: 2.71em;
	float: left;
	text-align: center;
}
.tit2 img{
	width:1.47rem;
	height:1.47rem;
}
.tit2 span{
	color: #333;
	font-size: 0.36rem;
}
.content{
	width: 100%;
	height: 4.3rem;
	margin-top: 0.3rem;
}
.content1{
	width: 100%;
	height: 1.5rem;
	line-height: 1.5rem;
}
.content2{
	float: left;
}
.content2 p{
	font-family: 'iconfont';
	display: inline-block;
	color: #f05f70;
	float: left;
	font-size: 1.2rem;
}
.content3{
	float: left;
	height: 1.5rem;
	line-height: 1.5rem;

}
.content3 p{
	color: #ea7986;
	font-size: 0.52rem;
	font-weight: bold;
	font-family: cursive;
}s
.content4{
	float: left;
	line-height: 1.5rem;
}
.content4 p{
	float: left;
	display: inline-block;
	color: #ea7986;
	font-size: 0.32rem;
	font-weight: bold;
	margin-left: 0.3rem;
}
.content5{
	margin-top: 0.6rem;
	margin-left: 0.5rem;
	float: left;
	width: 0.3rem;
	height: 0.3rem;
	background-color: #ea7986;
}
.content_down{
	width: 100%;
	height: 2.8rem;
}
.main{
	margin-top: 0.6rem;
	width: 100%;
	height: 8.45rem;
}
.main_up{
	width: 10.12rem;
	height: 1.2rem;
	margin: 0 auto;
}
.main_tit{
	width: 100%;
	height: 1.2rem;
}
.main_tit_box{
	margin-top: 0.2rem;
	margin-left: 0.3rem;
	width: 0.27rem;
	height: 0.69rem;
	float: left;
}
.main_tit_box img{
	width: 0.27rem;
	height: 0.69rem;
}
.main_tit_box1{
	margin-top: 0.3rem;
	margin-left: 0.3rem;
	height: 0.69rem;
	line-height: 0.69rem;
	float: left;
}
.main_tit_box1 p{
	color: #66a5ec;
	font-size: 0.46rem;
}
.main_tit_box2{
	width: 1.16rem;
	height: 0.66rem;
	background-color: #66a5ec;
	float: right;
	margin-top: 0.3rem;
	line-height: 0.66rem;
	text-align: center;
}
.main_tit_box2 p{
	color: #fff;
	font-size: 0.24rem;
}
.main_down{
	width: 10.12rem;
	height: 6.5rem;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	margin-top: 0.3rem;
	justify-content: space-between;
	align-content: space-between;
}
.main_down1{
	width: 2.92rem;
	height: 2.92rem;
}
.main_down1 img{
	width: 2.92rem;
	height: 2.92rem;
}
.hot{
	width: 10.2rem;
	margin: 0 auto;
}
.hot_down{
	width: 10.2rem;
	display: flex;
	flex-wrap: wrap;
	margin-top: 0.3rem;
	justify-content: space-between;
	align-content: space-between;
}
.hot_down_img{
	width: 5rem;
	height:6.5rem;
	margin-bottom: 0.3rem;
	position: relative;
	background-color: #f4f4f4;
}
.hot_down_img img{
	width: 5rem;
	height: 5rem;
}
.hot_down_img p{
	margin-left: 0.2rem;
	margin-top: 0.2rem;
	color: #6e6e6e;
	font-size: 0.34rem;
}
.hot_down_img h1{
	margin-left: 0.2rem;
	margin-top: 0.1rem;
	color: #ff6700;
	font-size: 0.34rem;
}
.hot_down_img1{
	width: 0.7rem;
	height: 0.7rem;
	background-color: #66a5ec;
	position: absolute;
	right: 0.1rem;
	bottom: 0.05rem;
	text-align: center;
	line-height: 0.3rem;
}
.hot_down_img1 span{
	font-family: 'iconfont';
	color: #fff;
	font-size: 0.5rem;
}
.tuijian{
	width: 10.2rem;
	height: 15rem;
	margin: 0.2rem auto;
}